body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  padding-top: 0.5cm;
  padding-right: 0.5cm;
}

table.calendar {
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
}

table.calendar th {
  border: 1px solid #808080;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 8px;
  padding-right: 8px;
}

table.calendar td {
  border: 1px solid black;
  height: 100px;
  vertical-align: top;
  padding-top: 3px;
  padding-left: 3px;
}

#etc {
  padding-top: 30px;
  padding-bottom: 30px;
}
